@font-face {
    font-family: 'Subset-DungGeunMo';
    src: url('../fonts/Subset-DungGeunMo.woff2') format('woff2'),
         url('../fonts/Subset-DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
