/* font */
/* ie 지원을 위해 구글 웹 폰드 대신 사용 */
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('../fonts/NanumBarunGothic.eot');
  src: local('NanumBarunGothic'),
      url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NanumBarunGothic.woff2') format('woff2'),
      url('../fonts/NanumBarunGothic.woff') format('woff'),
      url('../fonts/NanumBarunGothic.ttf') format('truetype'),
      url('../fonts/NanumBarunGothic.svg#NanumBarunGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('PoiretOne-Regular.eot');
  src: local('Poiret One'), local('PoiretOne-Regular'),
      url('../fonts/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PoiretOne-Regular.woff2') format('woff2'),
      url('../fonts/PoiretOne-Regular.woff') format('woff'),
      url('../fonts/PoiretOne-Regular.ttf') format('truetype'),
      url('../fonts/PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Do Hyeon';
  src: url('../fonts/DoHyeon-Regular.eot');
  src: local('Do Hyeon Regular'), local('DoHyeon-Regular'),
      url('../fonts/DoHyeon-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DoHyeon-Regular.woff2') format('woff2'),
      url('../fonts/DoHyeon-Regular.woff') format('woff'),
      url('../fonts/DoHyeon-Regular.ttf') format('truetype'),
      url('../fonts/DoHyeon-Regular.svg#DoHyeon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* device size */
@media (max-width:370px) {
.about-me-img {
  height : 45px !important;
}
}

@media (max-width:767px) {
  #my-job {
    font-size: 35px !important;
  }

  #my-name {
    font-size: 50px !important;
  }

  #phone-img, #email-img {
    width:30px !important;
  }

  #phone, #email {
    font-size: 22px !important;
  }

  .title {
    font-size: 55px !important;
  }

  .nav-link {
    padding: .5rem .5rem !important;
  }

  .navbar {
    padding: .5rem 0 !important;
  }
  .nav-link:hover {
    padding: .5rem .5rem !important;
  }
  
  .lang-title {
    font-size: 20px !important;
  }

  .skill-part-name {
    font-size: 30px !important;
    margin: 0 0 !important;
  }

  #jikpool-project-card-body {
    padding-top: 1.25rem !important;
  }
}

/* @media(min-width:766px) {
#mobile-ver {
  display: none !important;
}
} */
@media (min-width:768px) and (max-width:991px) {
.contents {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
}

@media (min-width:576px) and (max-width:767px) {
.my-site-btn {
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  font-size: 10pt;
}
.my-site-btn:hover {
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  font-size: 10pt;
}
.contents {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.title {
  font-size: 50px !important;
}
}
@media (min-width:371px) and (max-width:767px) {
.about-me-img {
  height : 70px !important;
}
}

@media (max-width:575px) { 
.contents {
  padding: 20px 15px 30px 15px !important;
}
}
@media (min-width:758px) and (max-width:958px) {
.about-me-img {
  height : 128px !important;
}
}

@media (max-width:575px) {
#my-site {
  margin-bottom: 10px !important;
}
}

body, html {
  position: relative;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; /* ie와 safari에서는 지원안함*/
  overflow-x: hidden;
}

ul, #introduce p {
  word-break: keep-all;
}

.title {
text-align: center;
font-size: 70px;
font-weight: 800;
font-family: 'Poiret One', cursive;
}

nav a {
color:white;
}

.nav-link:hover {
color: white;
}

.nav-pills .nav-link.active {
background-color: #ffffff00;
border-bottom-style:solid;
}

.nav-pills .nav-link {
border-radius: 0;
}

.nav-pills .active.nav-link, .nav-pills .show > .nav-link {
color: #fff;
background-color: rgba(0, 0, 0, 0);
}

/* intro */
#main { 
/* The image used */
background-image: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,5)), url('../images/main.png') ;
/* 기존 background-image 코드 */
/* background-image: linear-gradient(#21252900 60%, rgba(0,0,0,5)), url('../images/project1.png'); */
/* background-color: red; */
/* Full height */
height: 100%; 
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;
overflow-y: hidden;
text-align: center;
}

#my-job {
font-size:40px;
}

#my-name {
font-size: 70px;
}
.black-cover {
z-index: 1;
height: 100%;
width: 100%;

}


#intro-view {
display:table;
}

#intro-contents{
font-family: 'Poiret One', cursive;
color:white;
font-size: 50px;
}

/* about me */
#about-view {
padding-top: 80px;
padding-bottom: 50px;
display:fixed;
background-color: black;
color: white;
}
.my-profile {
width: 200px;
height: 200px;
margin-right: 50px;
margin-left: 50px;
}
#my-site {
margin-bottom: 40px;
}
.my-site-btn {
/* display: block; */
text-align: center;
padding:5px 10px;
margin-top: 20px;
margin-right:5px;
margin-left:5px;
color: white;
border: 2px solid white;
background-color: rgba(0, 0, 0, 0);
}

.my-site-btn:hover {
text-decoration: none;
text-align: center;
padding:5px 10px;
margin-right:5px;
margin-left:5px;
color: white;
background-color: #F28B66;
border: 2px solid white;
}

.my-site-btn-link {
color: white;
}

.my-site-btn-link:hover {
color: white;
text-decoration: none;
}

#introduce {
font-family: 'NanumBarunGothic', sans-serif;
}
.contents {
flex-grow: 1;
padding: 20px 60px 30px 60px;
}

#about-subtitle {
font-weight: bold;
font-size: 20px;
}
.about-me-img {
height : 200px;
width : auto;
}

#img-list {
text-align: center;
}

.img-view {
text-align: center;
}


/* Skills */
.lang-title {
display: table-cell;
vertical-align:middle;
font-size: 25px;
font-family: 'Poiret One', cursive;
font-weight: 800;
background-image: linear-gradient(180deg,transparent 65%,rgba(242, 139, 102, 0.84) 0);
}

#skills-view {
padding-top: 70px;
padding-bottom: 20px;
color:black;
}

.skill-div {
text-align: center;
margin-top: 30px;
margin-bottom: 50px;
}
.skill-part-name {
font-size: 35px;
font-weight: 800;
font-family: 'Poiret One', cursive;
padding-right: 45px;
padding-left: 45px;
padding-top: 20px;
padding-bottom: 20px;
border: solid;
}

.lang-intro {
margin-bottom: 20px;
}


.lang-ability {
font-family: 'NanumBarunGothic', sans-serif;
list-style: circle;
word-break: keep-all;
}

/* project */

.card {
background-color: black;
border: 1px solid rgba(214, 123, 83, 0);
/* border: 1px solid white; */

font-family: 'NanumBarunGothic', sans-serif;
color: white;
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(214, 123, 83); */
/* box-shadow: 0 4px 8px 0 #714d44, 0 6px 20px 0 #b36b4c; */
}

.card-title {
margin-bottom: .75rem;
display: table-cell;
vertical-align: middle;
text-align: center;
word-break: keep-all;
}

/* .card-image-border {
border: 1px solid #d67b53e6;
}

.card-body-border {
border: 1px solid #d67b53e6;
   border-left: 1px solid #d67b5300; 
} */

#project-view {
padding-top: 80px;
display:fixed;
background-color: black;
color: white;
}
.project-first, .project-second, .project-third {
margin-bottom: 50px;
}
.title-and-move-btn {
vertical-align: middle;
display: table-cell;
}
.project-title {
font-family: 'NanumBarunGothic', sans-serif;
font-size : 20px;
display: table;
margin: 0 auto;
}
.project-part-name {
  display: inline-block;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  font-weight: 800;
  vertical-align:middle;
  background-image: linear-gradient(180deg,transparent 65%,rgba(242, 139, 102, 0.84) 0);
}
.card-title:after {
content: "";
display: block;
width: 30px;
margin: 10px auto;
border-bottom: 3px solid #F28B66;
}

.project-contents {
margin-bottom: 10px;
word-break: keep-all;
}

.project-performance-tasks {
  clear: both;
  padding-top: 10px;
}

.skill-name {
/* display:block; */
float:left;
border: 2px solid #f7f0ee;
background-color: #f28b6614;
color:white;
border-radius: 25px;
text-align: center;
font-size: 13px;
padding: 1px 5px;
margin-right:3px;
margin-bottom:3px;
}
.site-move {
clear: left;
padding-top:10px;
text-align: center;
}
.project-site-btn {
text-align: center;
padding: 5px 10px;
margin-top: 10px;
margin-right: 5px;
margin-left: 5px;
border: 2px solid white;
background-color: rgba(255, 255, 255, 0);
/* background-color: white;
color: black;
padding: 5px 10px; */
}

.project-site-btn:hover {
text-align: center;
padding: 5px 10px;
margin-right: 5px;
margin-left: 5px;
color: white;
border: 2px solid white;
background-color: #F28B66;
text-decoration: none;
}

.project-site-btn-link {
color: white;
}

.project-site-btn-link:hover {
color: white;
text-decoration: none;
}

.img-fixed {
position: relative;
  margin: 0;
height: 280px;
}

.project-img1 {

background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project1.png');
height: 100%; 
/* Center and scale the image nicely */
background-repeat: no-repeat;
background-size: cover;
display: table;
width: 100%;
}

.project-img2 {

background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project2.jpg');
height: 100%; 
/* Center and scale the image nicely */
background-repeat: no-repeat;
background-size: cover;
display: table;
width: 100%;
}

.project-img3 {

background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project3.png');
height: 100%; 
/* Center and scale the image nicely */
background-repeat: no-repeat;
background-size: cover;
display: table;
width: 100%;
}

.project-img4 {

  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project4.png');
  height: 100%; 
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  }

.project-img5 {

  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project5.png');
  height: 100%; 
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
}

.project-img6 {

  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project6.png');
  height: 100%; 
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
}

.project-img7 {

  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/project7.png');
  height: 100%; 
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
}

.project-subtitle {
font-family: 'Do Hyeon', sans-serif;
font-size : 20px;
margin-bottom: 0;
}

#jikpool-project-card-body {
  padding-top: 0;
}

/* contact */
#contact-view { 
/* The image used */
padding-top : 60px;
padding-bottom : 60px;
background-image: linear-gradient(rgba(0,0,0,5),rgba(0,0,0,0) 60%, rgba(0,0,0,5)), url('../images/contact.png');
/* background-color: red; */
/* Full height */
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;
}
#email {
text-align: center; 
color: rgb(202, 199, 199);
font-size: 30px;
font-family: 'Poiret One', cursive;
}

#phone {
text-align: center; 
color: white;
font-size: 30px;
font-family: 'Poiret One', cursive;
margin-right:20px;
}

#phone-img, #email-img {
width:50px;
height:auto;
padding-right: 10px;
}

/* #d3d3d359 */