/* 슬라이드 레이아웃 */
.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.home {
  transform: translateX(0); /* GSAP 애니메이션을 위한 초기값 */
}

.project {
  left: 100vw; /* 초기에는 화면 더 오른쪽에 숨겨둠 */
  transform: translateX(0); /* GSAP 애니메이션을 위한 초기값 */
}

/* 전광판 */
.display-board {
  font-family: 'Subset-DungGeunMo';
  font-size: 2rem;
  line-height: 2;
  font-weight: normal;
  font-style: normal;
  color: var(--color-green-light);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.display-board__wrapper {
  display: flex;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: calc(100% - 4.8rem);
    left: 0;
    width: 20%;
    height: 7.2rem;
    background: linear-gradient(270deg, rgba(32, 23, 52, 0) 0%, #201734 63%);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(100% - -2.4rem);
    left: 100%;
    width: 20%;
    height: 7.2rem;
    transform: rotate(180deg);
    transform-origin: top left;
    background: linear-gradient(270deg, rgba(32, 23, 52, 0) 0%, #201734 63%);
  }
}

/* <div style="width: 102px; height: 72px; transform: rotate(180deg); transform-origin: top left; background: linear-gradient(270deg, rgba(32, 23, 52, 0) 0%, #201734 63%)"></div> */

.display-board__text {
  white-space: nowrap;
  padding-right: 4rem;
}

.display-board__destination {
  color: var(--color-yellow);
  font-weight: bold;
}

.display-board__time {
  color: var(--color-orange);
  font-weight: bold;
}

/* 지하철 노선 표지판 */
.subway-nav {
  position: relative;
  margin: 9.2rem 0 8.6rem;
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subway-nav__track__arrow--left {
  transform: rotate(180deg);
}

.subway-nav__track {
  position: absolute;
  width: 100%;
  height: 3.8rem;
  background-color: var(--color-green-dark);
}

.subway-nav__track--half--start {
  position: absolute;
  right: 0;
  width: 50%;
  height: 3.8rem;
  background-color: var(--color-green-dark);
}

.subway-nav__track--half--end {
  position: absolute;
  left: 0;
  width: 50%;
  height: 3.8rem;
  background-color: var(--color-green-dark);
}

.subway-nav__stations {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.station {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-white);
  font-size: 2rem;
}

.station__number {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.8rem;
  color: var(--color-green-dark);
}

.station__name__ko {
  font-size: 2.4rem;
}

.station__name__en {
  font-size: 2rem;
}

.station--active {
  position: relative;
  width: 43.1rem;
  height: 14.4rem;
  padding: 2rem 1.4rem;
  background-color: var(--color-white);
  border-radius: 12rem;
  border: 1.2rem solid var(--color-green-dark);
  color: var(--color-black);

  .station__number {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-green-dark);
    color: var(--color-white);
    font-size: 3.2rem;
  }

  .station__name {
    position: relative;
    left: -50%;
    transform: translateX(50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }

  .station__name__ko {
    font-size: 3.6rem;
  }

  .station__name__en {
    font-size: 2.4rem;
  }
}

/* 지하철 */
.subway {
  width: 100%;
  height: 100%;
}

.subway__platform {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.subway__train {
  display: inline-block;
  position: relative;
}

.subway__train__image {
  position: relative;
  left: -500px;
}

.subway__train__door {
  position: absolute;
  bottom: 21px;
  z-index: 1;
  display: flex;
  width: fit-content;
}

.subway__train__door--1 {
  right: 646px;
}

.subway__train__door--2 {
  right: 1122px;
}

.subway__train__door--3 {
  right: 1526px;
}

.subway__train__door--4 {
  right: 2002px;
}

.subway__train__door__image {
  position: relative;
  width: 100%;
}

.subway__train__door__image--left {
  transform: translateX(-40px);
}

.subway__train__door__image--right {
  transform: translateX(40px);
}

.subway__platform__floor__image {
  position: relative;
  width: 100%;
  height: 294px;
}

.subway__fence {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.subway__fence__image {
  width: 100%;
}

.subway__ticket__gate {
  position: relative;
}

.subway__ticket__gate__button {
  width: 283px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: url('../images/subway/transport-card.png') 2 2, pointer;
}

.subway__ticket__gate__door {
  position: absolute;
  right: 85px;
  bottom: 100px;
  z-index: -1;
  display: flex;
  width: fit-content;
}

.subway__ticket__gate__door__image--left {
  width: 60px;
}

/* 프로필 섹션 */
.profile {
  left: 100vw; /* 초기에는 화면 오른쪽에 숨겨둠 */
  transform: translateX(0); /* GSAP 애니메이션을 위한 초기값 */
  z-index: 1;
  background: var(--color-background);
}

.profile__content {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile__content--left {
  padding: 0 40px;
  flex: 0 0 20%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__content--right {
  padding: 0 50px;
  flex: 0 0 50%;
}

/* 프로필 섹션 이미지 모음 */
.profile__image__group {
  visibility: hidden;
  position: relative;
}

.profile__party__image {
  position: absolute;
  top: -20px;
  right: 40px;
  transform-origin: center center;
  will-change: transform, opacity;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.profile__sparkle__image {
  position: absolute;
  top: -10px;
  left: -20px;
}

.profile__fill-sparkle__image {
  /* display: none; */
  position: absolute;
  bottom: 0;
  left: 30px;
}

.profile__spiral__image--left {
  display: none;
  position: absolute;
  top: 130px;
  left: -40px;
}

.profile__spiral__image--right {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0px;
}

/* 프로필 섹션 이미지 모음 */
.profile__image__group {
  visibility: hidden;
  position: relative;
}

.profile__party__image {
  position: absolute;
  top: -20px;
  right: 40px;
  transform-origin: center center;
  will-change: transform, opacity;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.profile__sparkle__image {
  position: absolute;
  top: -10px;
  left: -20px;
}

.profile__fill-sparkle__image {
  /* display: none; */
  position: absolute;
  bottom: 0;
  left: 30px;
}

.profile__spiral__image--left {
  display: none;
  position: absolute;
  top: 130px;
  left: -40px;
}

.profile__spiral__image--right {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0px;
}

/* 프로필 링크 리스트 */
.profile__link__list {
  padding: 0;
  display: flex;
  gap: 1.6rem;
}

.profile__link__item {
  a {
    font-family: 'SeoulNamsanL';
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 25px;
    border: 1px solid var(--color-white);
    transition: all 0.3s ease;
  }

  a:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

/* 프로필 소개 */

.profile__intro__title {
  font-size: 2.4rem;
  line-height: 5.2rem;
  color: var(--color-white);
}

.profile__intro__text {
  font-family: 'Noto Sans KR';
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: var(--color-white);
  word-break: keep-all;
}

/* 태블릿 사이즈부터 세로 정렬 */
@media (max-width: 1024px) {
  .profile__content--left {
    flex: 0 0 100%; /* 전체 너비 차지 */
  }

  .profile__content--right {
    flex: 0 0 100%; /* 전체 너비 차지 */
  }
}
