/* 전광판 */
.display-board {
  font-family: 'Subset-DungGeunMo';
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: var(--color-green-light);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.display-board__wrapper {
  display: flex;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: calc(100% - 4.8rem);
    left: 0;
    width: 20%;
    height: 7.2rem;
    background: linear-gradient(270deg, rgba(32, 23, 52, 0) 0%, #201734 63%);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(100% - -2.4rem);
    left: 100%;
    width: 20%;
    height: 7.2rem;
    transform: rotate(180deg);
    transform-origin: top left;
    background: linear-gradient(270deg, rgba(32, 23, 52, 0) 0%, #201734 63%);
  }
}

/* <div style="width: 102px; height: 72px; transform: rotate(180deg); transform-origin: top left; background: linear-gradient(270deg, rgba(32, 23, 52, 0) 0%, #201734 63%)"></div> */

.display-board__text {
  white-space: nowrap;
  padding-right: 4rem;
}

.display-board__destination {
  color: var(--color-yellow);
  font-weight: bold;
}

.display-board__time {
  color: var(--color-orange);
  font-weight: bold;
}

/* 지하철 노선 표지판 */
.subway-nav {
  position: relative;
  margin: 9.2rem 0 8.6rem;
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subway-nav__track {
  position: absolute;
  width: 100%;
  height: 3.8rem;
  background-color: var(--color-green-dark);
}

.subway-nav__track--half--start {
  position: absolute;
  right: 0;
  width: 50%;
  height: 3.8rem;
  background-color: var(--color-green-dark);
}

.subway-nav__track--half--end {
  position: absolute;
  left: 0;
  width: 50%;
  height: 3.8rem;
  background-color: var(--color-green-dark);
}

.subway-nav__stations {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.station {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-white);
  font-size: 2rem;
}

.station__number {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.8rem;
  color: var(--color-green-dark);
}

.station__name__ko {
  font-size: 2.4rem;
}

.station__name__en {
  font-size: 2rem;
}

.station--active {
  position: relative;
  width: 43.1rem;
  height: 14.4rem;
  padding: 2rem 1.4rem;
  background-color: var(--color-white);
  border-radius: 12rem;
  border: 1.2rem solid var(--color-green-dark);
  color: var(--color-black);

  .station__number {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-green-dark);
    color: var(--color-white);
    font-size: 3.2rem;
  }

  .station__name {
    position: relative;
    left: -50%;
    transform: translateX(50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }

  .station__name__ko {
    font-size: 3.6rem;
  }

  .station__name__en {
    font-size: 2.4rem;
  }
}

/* 지하철 */
.subway {
  width: 100%;
  height: 100%;
}

.subway__platform {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.subway__train {
  display: inline-block;
  position: relative;
}

.subway__train__image {
  position: relative;
  left: -500px;
}

.subway__train__door {
  position: absolute;
  bottom: 21px;
  z-index: 1;
  display: flex;
  width: fit-content;
}

.subway__train__door--1 {
  right: 646px;
}

.subway__train__door--2 {
  right: 1122px;
}

.subway__train__door--3 {
  right: 1526px;
}

.subway__train__door--4 {
  right: 2002px;
}

.subway__train__door__image {
  position: relative;
  width: 100%;
}

.subway__train__door__image--left {
  transform: translateX(-40px);
}

.subway__train__door__image--right {
  transform: translateX(40px);
}

.subway__platform__floor__image {
  position: relative;
  width: 100%;
  height: 294px;
}

.subway__fence {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.subway__fence__image {
  width: 100%;
}

.subway__ticket__gate {
  position: relative;
}

.subway__ticket__gate__button {
  width: 283px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: url('../images/subway/transport-card.png') 2 2, pointer;
}

.subway__ticket__gate__door {
  position: absolute;
  right: 85px;
  bottom: 100px;
  z-index: -1;
  display: flex;
  width: fit-content;
}

.subway__ticket__gate__door__image--left {
  width: 60px;
}
