#star-container{
    display: inline-block;
    width: 100vw;
    height: 100vh;
    position: relative;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}

.star{
    width: 160px;
    display: inline-block;
    height: 2px;
    transform: rotate(-225deg);
    transform-origin: top left;
    animation: shoot 2.5s 1 ease-out backwards;
    pointer-events: none;
    position: absolute;
    border-radius: 1px;
    background: white;
  }
  
  @keyframes shoot{
    0%{transform:  scale(1) rotate(-225deg); width: 2px; height: 2px; background: transparent;}
    50%{transform:  scale(1.5) rotate(-225deg); background: white;}
    53%{transform:  scale(2.8) rotate(-225deg); background: white;}
    57%{transform:  scale(1) rotate(-225deg); width: 2px; height: 2px; background: white;}
    70%{width: 150px; opacity: 1;   background: linear-gradient(to left, white, transparent);}
    100%{opacity: 0; background: linear-gradient(to left, white, transparent);}
  }